.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to left, #E0E0E0, white);
}
/*#282c34*
#cb444b*/
.App-body {
  color: whitesmoke;
  /*background-image: linear-gradient(to left, rgb(218, 218, 218), rgb(255, 255, 255));*/
  background-color: transparent;
}

svg {
  display: inline-block;
  vertical-align: middle;
}


html {
  /*background-image: linear-gradient(to left, rgb(218, 218, 218), rgb(255, 255, 255));*/
  background-color: transparent;
}

.profile {
  /*background-image: linear-gradient(to left, rgb(218, 218, 218), rgb(255, 255, 255));*/
  background-color: transparent
}

#brand {
  display: inline;
  letter-spacing: 0.1rem;
}

#jumbo {
  background-image: linear-gradient(to left, rgba(255,0,0,0.3), rgba(246,195,68,1));
  color: #282c34;
  max-height: 32vh;
}

.heading {
  text-align: left;
  color: #282c34;
  font-size: 3rem;
  font-weight: 600;
}

.largeHeading {
  text-align: left;
  /*color:  #f6c444;*/
  color: #282c34;
  font-size: 4rem;
  font-weight: 600;
}

.largeText {
  text-align: left;
  color: #282c34;
  font-size: 3rem;
  font-weight: 600;
}

.mediumText {
  text-align: left;
  color: #282c34;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

.smallText {
  text-align: left;
  color: #282c34;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
}

.topic {
  text-align: center;
  color: #282c34;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}

.text {
  color: #282c34;
  font-size: 0.8rem;
  text-align: left;
}

.location {
  color: #282c34;
  font-size: 0.95rem;
  text-align: left;
  margin-top: 1.5rem;
}

.presentation{
  color: #282c34;
  font-size: 0.95rem;
  font-weight: 700;
  text-align: left;
  margin-top: 1.5rem;
}

.publication{
  color: #282c34;
  font-size: 0.95rem;
  text-align: left;
  margin-top: 1.5rem;
}

.award{
  color: #282c34;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  margin-top: 1rem;
}

.button {
  margin-top: 1rem;
  text-align: left;
}

.pubLink {
  color: #282c34;
  text-decoration: none;
}

.buttonLink {
  color: #282c34;
}

.buttonLink:hover {
  color: #282c34;
  text-decoration: none;
}

.pubLink:hover {
  color: #282c34;
  text-decoration: underline;
}

.link {
  color: #282c34;
}
.link:hover {
  color: #f6c444;
  text-decoration: none;
}

.projectContent {
  text-align: justify;
  font-size: 1.2rem;
  width: 70%;
  color: #282c34;
  display: inline-block;
}

.projectTitle {
  color: #282c34;
  font-size: 3rem;
}


.projectSubtitle {
  font-weight: 700;
  color: #282c34;
}

.projectYear {
  margin-bottom: 2rem;
  color: #282c34
}

#name {
  margin-top: 1rem;
  font-size: 2rem;
}

#bio {
  text-align: justify;
  color: #282c34;
  font-size: 1.1rem;
}

.funderLink {
  color: #282c34;
}

.funder {
  color: #282c34;
}

.footerLink {
  color: #282c34;
}

.footerLink:hover {
  color: #282c34;
}

.funderLink:hover {
  color: #282c34;
  text-decoration: underline;
}


#footer {
  bottom: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
  width: 100%;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  text-align: left;
  color: #282c34;
  width: 100%;
}