.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}
/*#282c34*
#cb444b*/
.App-body {
  color: #282c34;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

html {
  background-color: #282c34;
}

#brand {
  display: inline;
  letter-spacing: 0.1rem;
}

#jumbo {
  background-image: linear-gradient(to right, rgba(255,0,0,0.3), rgba(246,195,68,1));
  color: #282c34;
  max-height: 32vh;
}

.heading {
  text-align: left;
  color: whitesmoke;
  margin-left: 0.5rem;
  font-size: 4rem;
  font-weight: 600;
}

.largeHeading {
  text-align: left;
  color:  #f6c444;;
  margin-left: 0.5rem;
  font-size: 5rem;
  font-weight: 600;
}

.largeText {
  text-align: left;
  color: whitesmoke;
  margin-left: 0.5rem;
  font-size: 3rem;
  font-weight: 600;
}

.mediumText {
  text-align: left;
  color: whitesmoke;
  margin-left: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}



.button {
  margin-top: 1rem;
  text-align: left;
}

.link {
  color: #282c34;
}
.link:hover {
  color: #f6c444;
  text-decoration: none;
}

.projectContent {
  text-align: justify;
  font-size: 1rem;
  width: 70%;
  display: inline-block;
}

.projectSubtitle {
  font-weight: 700;
  color: #f6c444;
}

.projectYear {
  margin-bottom: 2rem;
}

#name {
  margin-top: 1rem;
  font-size: 2rem;
}

#bio {
  text-align: justify;
  color: whitesmoke;
  font-size: 1.1rem;
}

.funderLink {
  color: #282c34;
}

.funderLink:hover {
  color: #282c34;
  font-weight: 500;
  text-decoration: none;
}


#footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  width: 100%;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  text-align: left;
  color: #f6c444;
  width: 100%;
}